.home__slider {
    width: 100%;
    transition: all 0.3s ease;
}
.home__slider--img {
    width: 100%;
    height: 100%;
}

.swiper-button-prev::after {
    content: '' !important;
}
.swiper-button-prev {
    width: 52px;
    height: 52px;
    background-image: url('../../../assets/svg/left-icon.svg') !important;
    background-color: white !important;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: 50% 50%;
}
.swiper-button-next::after {
    content: '' !important;
}

.swiper-button-next {
    width: 52px;
    height: 52px;
    background-image: url('../../../assets/svg/right-icon.svg') !important;
    background-color: white !important;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-position: 50% 50%;
}
.swiper-pagination-bullet {
    background-color: #fff;
}
.swiper-pagination-bullet-active {
    width: 30px;
    height: 8px;
    border-radius: 10px;
}

@media screen and (max-width: 800px) {
    .swiper-button-prev {
        display: none;
    }
    .swiper-button-next {
        display: none;
    }
}