@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Poppins", sans-serif;
  --third-family: "Space Grotesk", sans-serif;
}

/* darkmode */
@custom-variant dark (&:where(.dark, .dark *));

/* container with default class */
.container {
  @apply mx-auto px-4 sm:px-8 lg:px-16 xl:px-20 2xl:px-24;
}

@layer utilities {
  /* Scrollbarni ingichka qilish */
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  /* Scroll track (orqa fond) */
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  /* Scroll bar (harakatlanuvchi qismi) */
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #807e7e;
    border-radius: 10px;
  }

  /* Hover effekti */
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}